/node_modules
/client/node_modules
/client/dist
/server/node_modules
/server/dist
/server/data/*.db
/server/uploads/posters/*
!/server/uploads/posters/vox-*.jpg
/server/.env
/client.log
/server.log
.DS_Store
/.vscode
/.idea
